@import "tailwindcss";

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@font-face {
  font-family: "CustomFont";
  src: url(/public/Cica-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.custom_font {
  font-family: "CustomFont", sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* スクロールバーを非表示 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
